<h3 style="margin-left: 10px; color:#fff ">Update Book</h3>

<%= render 'form', product: @product %>

<h4 style="margin-left: 10px; color: red ">
	<%= link_to 'Show', @product %>
	<%= link_to 'Back', products_path %>		
</h4>
